.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  flex: 1 0 auto;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  margin: 0;
}

.login-card {
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

.login-label {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
